<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Congo</title>

    <link rel="stylesheet" href="../stylesheets/congo.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <img src="../images/congotransparentw.png" width="112" height="100">
            </a>
        </div>
    </nav>
    <!-- sidebar starts -->
    <div class="sidebar">
        <div class="sidebarOption active">
            <span class="material-icons"> bungalow </span>
            <h2>Home</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> mood </span>
            <h2>Profile</h2>
        </div>

        <div class="sidebarOption">
            <span class="material-icons"> groups </span>
            <h2>Forums</h2>
        </div>
    </div>
    <!-- sidebar ends -->

{{{body}}}
    <!-- widgets starts -->
    <div class="widgets">
        <div class="widgets__profile">
            <img class="user__avatar" src="img/placeholder.png" alt="placeholder" />
            <h4>Log In</h4>
        </div>

        <div class="widgets__widgetContainer">
            <h2>Popular Forums</h2>
            <h4>Politics</h4>
            <h4>Movies</h4>
            <h4>Music</h4>
            <h4>Fitness</h4>
        </div>
</body>

</html>