{{#if posts.length}}
<section class= "your-posts">
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post_info}}
      <div>{{post.post_url}}</div>
      <a href="/edit/{{post.id}}" style="text-decoration: none;" class="edit-link">Edit Post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>
<script src="/javascript/edit-post.js"></script> 
<script src="/javascript/choose-category.js"></script>