    <!-- feed starts -->
  <section>
  <h2>Create Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="category">Choose a Category:</label>
      <select name="categories" id="categories">
        <option value="music">Music</option>
        <option value="movies">Movies</option>
        <option value="tv">TV</option>
        <option value="video-games">Video Games</option>
        <option value="books">Books</option>
        <option value="cooking">Cooking</option>
        <option value="gardening">Gardening</option>
        <option value="interior-design">Interior Design</option>
        <option value="fashion">Fashion</option>
        <option value="travel">Travel/Vacation</option>
        <option value="restaurants">Restaurants</option>
        <option value="social">Social</option>
      </select>
    </div>
    <div>
      <label for="post-url">Post</label>
      <input id="post-url" name="post-url" class="post-post" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
        {{#if posts.length}}
        {{#each posts as |post|}}
        <div class="post">
            <div class="post__avatar">
                <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
            </div>

            <div class="post__body">
                <div class="post__header">
                    <div class="post__headerText">
                        <h3>
                            User Name
                            <span class="post__headerSpecial"><span>
                                <span>@username</span>
                        </h3>
                    </div>
                    <div class="post__headerDescription">
                        <p>{{post.post_url}}</p>
                    </div>
                </div>
                <div class="post__footer">
                    <span class="material-icons"> sentiment_very_satisfied </span>
                    <span class="material-icons"> add_comment </span>
                    <span class="material-icons"> send </span>
                </div>
            </div>
        </div>
        {{/each}}
        {{/if}}
        <!-- post ends -->

       
    </div>
    <!-- feed ends -->
<script src="/javascript/add-post.js"></script>