<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Congo</title>

  <link rel="stylesheet" href="../public/stylesheets/congo.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="../images/congotransparentw.png" width="112" height="100">
      </a>
    </div>
  </nav>
  <!-- sidebar starts -->
  <div class="sidebar">
    <div class="sidebarOption active">
      <span class="material-icons"> bungalow </span>
      <h2>Home</h2>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> mood </span>
      <h2>Profile</h2>
    </div>

    <div class="sidebarOption">
      <span class="material-icons"> groups </span>
      <h2>Forums</h2>
      {{#each categories as |category|}}
      <option value='{{category.category_name}}'>{{ category.category_name }}</option>
      {{/each}}
    </div>
  </div>
  <!-- sidebar ends -->

  <!-- feed starts -->
  <div class="feed">
    <!-- postbox starts -->
    <div class="postBox">
      <form>
        <div class="postbox__input">
          <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
          <input type="text" placeholder="What's happening?" />
        </div>
        <button class="postBox__postButton">Post</button>
      </form>
    </div>
    <!-- postbox ends -->

    <!-- post starts -->
    <div class="post">
      <div class="post__avatar">
        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
      </div>

      <div class="post__body">
        <div class="post__header">
          <div class="post__headerText">
            <h3>
              User Name
              <span class="post__headerSpecial"><span </span>@username</span>
            </h3>
          </div>
          <div class="post__headerDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <img src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg" alt="" />
        <div class="post__footer">
          <span class="material-icons"> add_comment </span>
        </div>
      </div>
    </div>
    <!-- post ends -->

    <!-- post starts -->
    <div class="post">
      <div class="post__avatar">
        <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png" alt="" />
      </div>

      <div class="post__body">
        <div class="post__header">
          <div class="post__headerText">
            <h3>
              User Name
              <span class="post__headerSpecial"><span class="material-icons post__badge"> verified
                </span>@username</span>
            </h3>
          </div>
          <div class="post__headerDescription">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          </div>
        </div>
        <img src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg" alt="" />
        <div class="post__footer">
          <span class="material-icons"> add_comment </span>
        </div>
      </div>
    </div>
    <!-- post ends -->
  </div>
  <!-- feed ends -->
  <!-- widgets starts -->
  <div class="widgets">
    <div class="widgets__input">
      <span class="material-icons widgets__searchIcon"> search </span>
      <input type="text" placeholder="Search Congo" />
    </div>

    <div class="widgets__widgetContainer">
      <h2>Popular Forums</h2>
      <h4>Politics</h4>
      <h4>Movies</h4>
      <h4>Music</h4>
      <h4>Fitness</h4>
    </div>
</body>

</html>
