* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(0, 143, 42);
    font-family: "Roboto", sans-serif;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__left img {
    height: 80px;
}

.user__avatar {
    border-radius: 50%;
    width: 45px;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right:hover{
    cursor: pointer;
}

body {
    --primary-color: rgb(230, 164, 20);
    --secondary-color: rgb(12, 12, 20);
    --background-color: rgb(0, 143, 42);
    --website-color: rgb(24, 25, 30);
    font-family: "Roboto", sans-serif;
    background-color: var(--website-color);
    color: white;
}

.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebarOption .material-icons {
    padding: 20px;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarOption:hover {
    background-color: var(--background-color);
    border-radius: 30px;
    color: var(--primary-color);
    transition: color 100ms ease-out;
}

.sidebarOption.active {
    color: var(--primary-color);
}

.sidebar__post {
    width: 100%;
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: 900;
    border-radius: 30px;
    height: 50px;
    margin-top: 20px;
}

body {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.sidebar {
    border-right: 1px;
    flex: 0.2;

    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* feed */
.feed {
    flex: 0.5;
    border-right: 1px;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed__header {
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    z-index: 100;
    border: 1px;
    padding: 15px 20px;
}

.feed__header h2 {
    font-size: 20px;
    font-weight: 800;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* post box */
.postbox__input img {
    border-radius: 50%;
    height: 40px;
}

.postBox {
    padding-bottom: 10px;
    border-bottom: 8px solid var(--secondary-color);
}

.postBox form {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
}

.postbox__input {
    display: flex;
    padding: 20px;
}

.postbox__input input {
    flex: 1;
    background-color: var(--secondary-color);
    color: white;
    margin-left: 20px;
    font-size: 20px;
    border: none;
    outline: none;
}

.postBox__postButton {
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: 900;

    border-radius: 30px;
    width: 80px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

/* post */
.post__avatar img {
    border-radius: 50%;
    height: 40px;
}

.post {
    display: flex;
    align-items: flex-start;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 10px;
}

.post__body img {
    width: 450px;
    object-fit: contain;
    border-radius: 20px;
}

.post__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post__badge {
    font-size: 14px !important;
    color: var(--primary-color);
    margin-right: 5px;
}

.post__headerSpecial {
    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post__headerText h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.post__headerDescription {
    margin-bottom: 10px;
    font-size: 15px;
}

.post__body {
    flex: 1;
    padding: 10px;
}

.post__avatar {
    padding: 20px;
}

/* widgets */
.widgets {
    flex: 0.3;
}

.widgets__input {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets__input input {
    border: none;
    background-color: var(--secondary-color);
}

.widgets__searchIcon {
    color: gray;
}

.widgets__widgetContainer {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.widgets__widgetContainer h2 {
    font-size: 18px;
    font-weight: 800;
}
