body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0.3)),
    url(../../images/congohero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: 300;
}
.box {
  position: relative;
  margin: 10% auto;
  height: 600px;
  width: 600px;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}
.signup-box {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}
h1 {
  margin-bottom: 20px;
  font-size: 28px;
  color: #fff;
}
.input-box {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: 1px solid #fff;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
  color: #fff;
  background: transparent;
}
.submit-btn {
  margin-bottom: 28px;
  width: 120px;
  height: 32px;
  background: rgb(0, 143, 42);
  border: 1px solid rgb(0, 143, 42);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.submit-btn:hover,
.submit-btn:focus {
  background: rgb(0, 211, 63);
  transition: 0.2s;
}
.signin-box {
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 400px;
}
.signin-btn {
  margin-bottom: 28px;
  margin-top: 105px;
  width: 120px;
  height: 32px;
  background: rgb(0, 143, 42);
  border: 1px solid rgb(0, 143, 42);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.signin-btn:hover,
.signin-btn:focus {
  background: rgb(0, 211, 63);
  transition: 0.2s;
}
.or {
  position: absolute;
  top: 180px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: rgb(230, 164, 20);
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
